Options -Indexes

#Restrict access by IP address
#order deny,allow
#deny from all
#allow from 12.12.12.12

#Restrict access to admin system by IP address
#RewriteCond %{REQUEST_URI} ^.*/admin.*$ [NC]
#RewriteCond %{REMOTE_ADDR} !^12.12.12.12$
#RewriteRule ^.*$ - [F,L]

#Restrict access by User Agent
#RewriteCond %{HTTP_USER_AGENT} ^.*(spider|bot|python).*$ [NC]
#RewriteRule ^.*$ - [F,L]

#Restrict access by URL
#RewriteCond %{REQUEST_URI} ^.*(vendor|phpunit|\.env).*$ [NC]
#RewriteRule ^.*$ - [F,L]

#Restrict access by language
#RewriteCond %{HTTP:Accept-Language} !^(ja|en).*$ [NC]
#RewriteRule ^.*$ - [F,L]

#Restrict access for PHPs
RewriteCond %{REQUEST_URI} !^.*(index.php|pi.php)$
RewriteCond %{REQUEST_URI} ^.*(.php).*$ [NC]
RewriteRule ^.*$ - [F,L]

RewriteCond %{REQUEST_URI} ^.*(.cgi|.py).*$ [NC]
RewriteRule ^.*$ - [F,L]


<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ index.php [L]
</IfModule>
